.note {
    margin-top: 6rem;
}

.titleInput {
    width: 80%;
    max-width: 40rem;
    margin-bottom: 1rem;
    border: 2px solid $secondary;
    background: transparent;
    border-radius: 20px;
    padding: 0.5rem;
    color: $primary;
}

.is-save-icon, .is-back-icon {
    position: absolute;
    z-index: 100;
    cursor: pointer;
}

.is-save-icon {
    color: $fourth;
    right: 2rem;
    font-size: 2rem;
    top: 1.4rem;
}

.is-back-icon {
    color: $primary;
    left: 2.5rem;
    font-size: 1.5rem;
    top: 1.7rem;
}

.noteInput {
    width: 100%;
    height: 72vh;
    background: $mainBackground;
    border-radius: 10px;
    padding: 0.5rem;
    color: $primary;
    font-size: 1.5rem;
    z-index: 10
}